{% extends 'portfolio/base.html' %}

{% load static %}

{% block content %}

    <header class="header">
        <a href="#" class="logo">Portfólio</a>
        <i class='bx bx-menu' id="menu-icon"></i>
        <nav class="navbar">
            <a href="{% url 'index' %}" class="active">Home</a>
        </nav>
    </header>
    
    <section class="home" id="home"></section>
    <div class="home-content">
       <!-- <a href="{% url 'certificado' %}"> -->
        <h3>{{ programacao.linguagem }}</h3>
        <p>{{ programacao.legenda }}</p>
        <ul>
            {% for modulo in programacao.modulos.all %}
              <li>
                <a href="{{ modulo.link }}" target="_blank">
                  {{ modulo.titulo }}
                </a>
              </li>
            {% endfor %}
        </ul>
    </div>
    </section>
{%endblock%}

